$primary-color: #23cf50;
$accent-color: #e68b30;
$accent-dark-color: #9e5e20;

.price-card {
  border: 1px solid $accent-color;
  padding: 40px 20px;
  min-height: 250px;
  min-width: 200px;
  transition: 0.3s;

  &:hover {
    scale: 1.1;
  }

  &__icon {
    font-size: 80px;
    color: $accent-color;

    &-container {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  h4 {
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $primary-color;
  }

  &__price {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;

    span {
      font-size: 20px;
      margin-right: 5px;
    }
  }
}
